body {
  font-family: system-ui, sans-serif;
  background: #111;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

h1 {
  margin: 0;
}

canvas {
  background: #222;
  border: 2px solid #555;
  border-radius: 12px;
}


.info {
  display: flex;
  gap: 15px;
  align-items: center;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
